{% extends 'DiplonauticLandingBundle::layout.html.twig' %}
{%trans_default_domain 'general'%}
{% block meta_description %}{%trans%}meta.ac{%endtrans%}{% endblock %}
{% block meta_title %}{%trans%}tooltip.ac{%endtrans%} - Diplonautic{% endblock %}
{% block title %}{%trans%}tooltip.ac{%endtrans%} - Diplonautic{% endblock %}
{% block meta %}
    <meta property="og:title" content="{%trans%}tooltip.ac{%endtrans%} - Diplonautic" />
    <meta property="og:url" content="http://www.diplonautic.com{{path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params'))}}" />
    <meta property="og:description" content="{%trans%}meta.ac{%endtrans%}" />
    <meta property="og:site_name" content="Diplonautic" />
{% endblock %}
{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}
    <div class="main">
        
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="main-index no-padding col-sm-11">
                        <div class="main-description-product">
                            <div class="small-picto">
                                <img src="{{ asset("bundles/diplonauticlanding/images/Picto2.png")}}" alt="{%trans%}products.ac.title{%endtrans%} - Diplonautic">
                            </div>
                            <div class="product-description">
                                <h1 class="h4">{%trans%}products.ac.title{%endtrans%}</h1>
                                <div class="product-decription__text">
                                    <div>
                                        <p>{%trans%}air.intro{%endtrans%}</p>
                                        <ul>
                                            <li>{%trans%}air.compact_machine{%endtrans%}</li>
                                            <li>{%trans%}air.split_machine{%endtrans%}</li>
                                            <li>{%trans%}air.chiller_machine{%endtrans%}</li>
                                        </ul>
                                    </div>
                                    <div class="p-l-30">
                                        <p>{%trans%}air.closing{%endtrans%}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-marks-products">
                            <div class="marks__row three">
                                <div class="marks__item">
                                    <a href="http://www.cruisair.com/International/" title="{%trans%}visit{%endtrans%} Cruisair" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/logo_CRUISAIR.png") }}" alt="Cruisair">
                                    </a>
                                </div>
                                <div class="marks__item">
                                    <a href="http://www.marineair.com/International/" title="{%trans%}visit{%endtrans%} Marine Air" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/MarineAir.png") }}" alt="Marine Air">
                                    </a>
                                </div>
                                <div class="marks__item">
                                    <a href="http://www.veco.net" title="{%trans%}visit{%endtrans%} Climma" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/Climma.jpg") }}" alt="Climma">
                                    </a>
                                </div>
                            </div>
                            <div class="marks__row three">
                                <div class="marks__item">
                                    <a href="http://www.frigomar.com/en/" title="{%trans%}visit{%endtrans%} Frigomar" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/Frigomar.jpg") }}" alt="Frigomar">
                                    </a>
                                </div>
                                <div class="marks__item">
                                    <a href="http://www.condaria.com/English/" title="{%trans%}visit{%endtrans%} Condaria" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/logo_CONDARIA.png") }}" alt="Condaria">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include "DiplonauticLandingBundle:Default:language.html.twig" %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
