{% extends 'DiplonauticLandingBundle::layout.html.twig' %}
{%trans_default_domain 'general'%}
{% block meta_description %}{%trans%}meta.gn{%endtrans%}{% endblock %}
{% block meta_title %}{%trans%}tooltip.gen{%endtrans%} - Diplonautic{% endblock %}
{% block title %}{%trans%}tooltip.gen{%endtrans%} - Diplonautic{% endblock %}
{% block meta %}
    <meta property="og:title" content="{%trans%}tooltip.gen{%endtrans%} - Diplonautic" />
    <meta property="og:url" content="http://www.diplonautic.com{{path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params'))}}" />
    <meta property="og:description" content="{%trans%}meta.gn{%endtrans%}" />
    <meta property="og:site_name" content="Diplonautic" />
{% endblock %}
{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}    
    <div class="main">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="main-index no-padding col-sm-11">
                        <div class="main-description-product">
                            <img src="{{ asset("bundles/diplonauticlanding/images/Picto4.png")}}" alt="{%trans%}products.gen.title{%endtrans%} - Diplonautic">
                            <div class="product-description">
                                <h1 class="h4">{%trans%}products.gen.title{%endtrans%}</h1>
                                <div class="product-decription__text">
                                    <div>
                                        <p>{%trans%}generators.intro{%endtrans%}</p>
                                        <ul>
                                            <li>{%trans%}generators.mono_grups{%endtrans%}</li>
                                            <li>{%trans%}generators.tri_grups{%endtrans%}</li>
                                            <li>{%trans%}generators.paralel{%endtrans%}</li>
                                        </ul>
                                    </div>
                                    <div class="p-l-30">
                                        <p>{%trans%}generators.closing{%endtrans%}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-marks-products">
                            <div class="marks__row three">
                                <div class="marks__item">
                                    <a href="http://www.stamegna.com" title="{%trans%}visit{%endtrans%} Stamegna" rel="nofollow">
                                        <img class="stable" src="{{ asset("bundles/diplonauticlanding/images/Stamegna.png") }}" alt="Stamegna">
                                    </a>
                                </div>
                                <div class="marks__item">
                                    <a href="http://www.victronenergy.com.es/" title="{%trans%}visit{%endtrans%} Victron Energy" rel="nofollow">
                                        <img class="stable" src="{{ asset("bundles/diplonauticlanding/images/VictronEnergy.jpg") }}" alt="VictronEnergy">
                                    </a>
                                </div>
                                <div class="marks__item">
                                    <a href="https://www.volpitecno.com/en/" title="{%trans%}visit{%endtrans%} Paguro Generators" rel="nofollow">
                                        <img class="stable" src="{{ asset("bundles/diplonauticlanding/images/logo_PAGURO.png") }}" alt="Paguro Generators">
                                    </a>
                                </div>
                            </div>        
                        </div>
                    </div>
                    {% include "DiplonauticLandingBundle:Default:language.html.twig" %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
