{% trans_default_domain "general" %}
<div class="container-fluid">
    <nav> 
        <div class="row">
            <div class="col-xs-12 col-sm-3 text-center nav-logo">
                <a href="{{path("diplonautic_landing_homepage")}}" title="{%trans%}header.go_to{%endtrans%}{%trans%}header.home{%endtrans%}">
                    <img alt="Diplonautic" src="{{ asset("bundles/diplonauticlanding/images/logo.png") }}">
                </a>
            </div>
            <div class="division hidden-xs"></div>
            <div class="button-xs no-pad">
                <div class="row">
                    <div class="visible-xs white-anex"></div>
                    <div class="visible-xs col-xs-6 no-pad">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-sm-9 col-md-8 no-pad nav-mobile">
                <div class="visible-xs back-mobile">
                    {% if "diplonautic_landing_privacy_policy" not in app.request.attributes.get('_route') and "diplonautic_landing_data_protection" not in app.request.attributes.get('_route') and 
                    "diplonautic_landing_cookies" not in app.request.attributes.get('_route') %}
                    <a class="title-mobile active" href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}">
                        {% if "diplonautic_landing_homepage" in app.request.attributes.get('_route') %}{%trans%}header.home{%endtrans%}{% endif %}
                        {% if "diplonautic_landing_about" in app.request.attributes.get('_route') %}{%trans%}header.company{%endtrans%}{% endif %}
                        {% if "diplonautic_landing_products" in app.request.attributes.get('_route') %}{%trans%}header.products{%endtrans%}{% endif %}
                        {% if "diplonautic_landing_opportunities" in app.request.attributes.get('_route') %}{%trans%}header.oportunities{%endtrans%}{% endif %}
                        {% if "diplonautic_landing_contact" in app.request.attributes.get('_route') %}{%trans%}header.contact{%endtrans%}{% endif %}
                        {% if "diplonautic_landing_privacy_policy" in app.request.attributes.get('_route') %}{%trans%}header.privacy_policy{%endtrans%}{% endif %}
                        {% if "diplonautic_landing_air_conditioner" in app.request.attributes.get('_route') %}{%trans%}tooltip.ac{%endtrans%}{% endif %}
                        {% if "diplonautic_landing_refrigeration_systems" in app.request.attributes.get('_route') %}{%trans%}tooltip.rs{%endtrans%}{% endif %}
                        {% if "diplonautic_landing_generators" in app.request.attributes.get('_route') %}{%trans%}tooltip.gen{%endtrans%}{% endif %}
                        {% if "diplonautic_landing_water_treatment" in app.request.attributes.get('_route') %}{%trans%}tooltip.wt{%endtrans%}{% endif %}
                        {% if "diplonautic_landing_electric_systems" in app.request.attributes.get('_route') %}{%trans%}tooltip.es{%endtrans%}{% endif %}
                        {% if "diplonautic_landing_maneuvering_propeller" in app.request.attributes.get('_route') %}{%trans%}tooltip.ms{%endtrans%}{% endif %}
                    </a>
                    {% endif %}
                </div>
                <div class="navbar-diplonautic collapse" id="navbar">
                    <ul class="nav navbar-nav">

                            <li id="index_header" {% if "diplonautic_landing_homepage" in app.request.attributes.get('_route') %}class="active hidden-xs"{% endif %}>
                                <a href="{{path("diplonautic_landing_homepage")}}" title="{%trans%}header.go_to{%endtrans%}{%trans%}header.home{%endtrans%}">{%trans%}header.home{%endtrans%}</a>
                            </li>
                            <li id="about_header" {% if "diplonautic_landing_about" in app.request.attributes.get('_route') %}class="active hidden-xs"{% endif %}>
                                <a href="{{path("diplonautic_landing_about")}}" title="{%trans%}header.go_to{%endtrans%}{%trans%}header.company{%endtrans%}">{%trans%}header.company{%endtrans%}</a>
                            </li>
                        {% if "diplonautic_landing_products" in app.request.attributes.get('_route') %}
                            <li id="products_header" class="active hidden-xs">
                                <h1><a href="{{path("diplonautic_landing_products")}}" title="{%trans%}header.go_to{%endtrans%}{%trans%}header.products{%endtrans%}">{%trans%}header.products{%endtrans%}</a></h1>
                            </li>
                        {%else%}
                            <li id="products_header">
                                <a href="{{path("diplonautic_landing_products")}}" title="{%trans%}header.go_to{%endtrans%}{%trans%}header.products{%endtrans%}">{%trans%}header.products{%endtrans%}</a>
                            </li>
                        {% endif %}

                            <li id="oportunities_header" {% if "diplonautic_landing_opportunities" in app.request.attributes.get('_route') %}class="active hidden-xs"{% endif %}>
                                <a href="{{path("diplonautic_landing_opportunities")}}" title="{%trans%}header.go_to{%endtrans%}{%trans%}header.oportunities{%endtrans%}">{%trans%}header.oportunities{%endtrans%}</a>
                            </li>
                        {% if "diplonautic_landing_privacy_policy" in app.request.attributes.get('_route') %}
                            <li id="privacy_policy_header" class="active hidden">
                                <h1><a href="{{path("diplonautic_landing_privacy_policy")}}" title="{%trans%}header.go_to{%endtrans%}{%trans%}header.privacy_policy{%endtrans%}">{%trans%}header.privacy_policy{%endtrans%}</a></h1>
                            </li>
                        {%else%}
                            <li id="privacy_policy_header" class="visible-xs">
                                <a href="{{path("diplonautic_landing_privacy_policy")}}" title="{%trans%}header.go_to{%endtrans%}{%trans%}header.privacy_policy{%endtrans%}">{%trans%}header.privacy_policy{%endtrans%}</a>
                            </li>
                        {% endif %} 

                        {% if "diplonautic_landing_contact" in app.request.attributes.get('_route') %}
                            <li id="contact_header" class="active hidden-xs">
                                <h1><a href="{{path("diplonautic_landing_contact")}}" title="{%trans%}header.go_to{%endtrans%}{%trans%}header.contact{%endtrans%}">{%trans%}header.contact{%endtrans%}</a></h1>
                            </li>
                        {%else%}
                            <li id="contact_header">
                                <a href="{{path("diplonautic_landing_contact")}}" title="{%trans%}header.go_to{%endtrans%}{%trans%}header.contact{%endtrans%}">{%trans%}header.contact{%endtrans%}</a>
                            </li>
                        {% endif %}  
                        <li class="social">
                            <div>
                                <a href="https://www.facebook.com/Diplonautic-492530934262845/" class="fb-header" title="{%trans%}header.go_to{%endtrans%} Facebook Diplonautic" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://www.instagram.com/diplonautic/"  title="{%trans%}header.go_to{%endtrans%} Instagram Diplonautic" class="insta-header" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            <div>
                        </li>
                         
                    </ul><!--navbar-right-->
                    <ul class="visible-xs nav navbar-nav lang-mobile">
                        <li>
                            <a href="{{path("diplonautic_landing_homepage", { "_locale" : "ca" })}}" {% if app.request.locale == 'ca'%}class="active"{% endif %} title="{%trans%}languages.cat{%endtrans%}">
                                CAT
                            </a>
                        </li>
                        <li>
                            <a href="{{path("diplonautic_landing_homepage", { "_locale" : "en" })}}" {% if app.request.locale == 'en'%}class="active"{% endif %} title="{%trans%}languages.en{%endtrans%}">
                                ENG
                            </a>
                        </li>
                    </ul>    
                </div>    
            </div> 
             
        </div>
    </nav>
</div>
                      
