{% extends 'DiplonauticLandingBundle::layout.html.twig' %}
{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}
    <div class="main">
        
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 main-description">
                        <h1 class="h3"><b>DISEÑO E INSTALACIONES<br>NÁUTICAS</b></h1>
                        <div class="divisory"><div class="sub-div1"></div><div class="sub-div2"></div></div>
                        <p>Mejoramos su navegación con la
                        <ul>
                            <li>INSTALACIÓN</li>
                            <li>REPARACIÓN</li>
                            <li>MANTENIMIENTO</li>
                        </ul>
                        de los equipos eléctricos de su EMBARCACIÓN</p>
                    </div>
                    
                    <div class="col-sm-5 main-marks">
                        <table style="width:100%">
                            <tr>
                                <td><img src="{{ asset("bundles/diplonauticlanding/images/Frigoboat.jpg")}}" alt=""></td>
                                <td><img src="{{ asset("bundles/diplonauticlanding/images/Cruisair.jpg")}}" alt=""></td> 
                                <td><img src="{{ asset("bundles/diplonauticlanding/images/Tecnicomar.jpg")}}" alt=""></td>
                            </tr>
                            <tr>
                                <td><img class="width-fifty" src="{{ asset("bundles/diplonauticlanding/images/U-line.jpg")}}" alt=""></td>
                                <td><img src="{{ asset("bundles/diplonauticlanding/images/Idromar.jpg")}}" alt=""></td>
                                <td><img src="{{ asset("bundles/diplonauticlanding/images/SeaRecovery.jpg")}}" alt=""></td>
                                
                            </tr>
                            <tr>
                                <td><img src="{{ asset("bundles/diplonauticlanding/images/VictronEnergy.jpg")}} "alt=""></td>
                                
                                <td><img src="{{ asset("bundles/diplonauticlanding/images/MarineAir.png")}} "alt=""></td> 
                                <td><img src="{{ asset("bundles/diplonauticlanding/images/VF.jpg")}}" alt=""></td>
                            </tr>
                            <tr>
                                <td><img src="{{ asset("bundles/diplonauticlanding/images/NorthernLights.png")}}" alt=""></td> 
                                <td><img src="{{ asset("bundles/diplonauticlanding/images/MAXPower.png")}}" alt=""></td>
                                <td><img src="{{ asset("bundles/diplonauticlanding/images/Condaria.jpg")}}" alt=""></td>
                            </tr>
                            <tr>
                                <td><img src="{{ asset("bundles/diplonauticlanding/images/Climma.jpg")}}" alt=""></td>
                                <td><img src="{{ asset("bundles/diplonauticlanding/images/AquaBase.jpg")}}" alt=""></td> 
                                <td><img src="{{ asset("bundles/diplonauticlanding/images/Stamegna.png")}}" alt=""></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-1 languages">
                        <div id="cat">CAT</div>
                        <div id="en">EN</div>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

