{% trans_default_domain "general" %}
<div class="table table-marks">
	<div class="table-row">
		<div class="table-cell w20">
			<a href="http://www.veco.net/index.php/en/products/frigoboat-marine-refrigeration" title="{%trans%}visit{%endtrans%} Frigoboat" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/Frigoboat.jpg")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		<div class="table-cell w20">
			<a href="https://www.dometic.com/en-us/us/rebranded/cruisair" title="{%trans%}visit{%endtrans%} Cruisair" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/logo_CRUISAIR.png")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		<div class="table-cell w20">
			<a href="https://www.dometic.com/" title="{%trans%}visit{%endtrans%} Dometic" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/logo_DOMETIC_Negre.png")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		<div class="table-cell w20">
			<a href="http://www.idromarwatermaker.com/index.asp?int=ES" title="{%trans%}visit{%endtrans%} Idromar" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/logo_IDROMAR.png")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		<div class="table-cell w20">
			<a href="https://www.northern-lights.com/" title="{%trans%}visit{%endtrans%} Northern Lights" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/logo_NORTHERN.png")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
	</div>
	<div class="table-row">
		<div class="table-cell w20">
			<a href="http://www.volpitecno.com/generatori_marini.aspx?language=en" title="{%trans%}visit{%endtrans%} Volpitecno" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/logo_PAGURO.png")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		<div class="table-cell w20">
			<a href="http://www.frigomar.com/en/" title="{%trans%}visit{%endtrans%} Frigomar" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/Frigomar.jpg")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		<div class="table-cell w20">
			<a href="http://www.hpwatermaker.it/" title="{%trans%}visit{%endtrans%} High Pressure Watermarkers" rel="nofollow" target="_blank">
				<img class="width80" src="{{ asset("bundles/diplonauticlanding/images/HP.jpg")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		
		<div class="table-cell w20">
			<a href="https://www.dometic.com/es-es/es/lp/waeco-dometic-general" title="{%trans%}visit{%endtrans%} Waeco" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/logo_WAECO.png")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		
		<div class="table-cell w20">
			<a href="http://www.wesmar.com/index" title="{%trans%}visit{%endtrans%} Wesmar" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/Wesmar.png")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		
	</div>
	<div class="table-row">
		<div class="table-cell w20">
			<a href="https://www.dometic.com/en-us/us/rebranded/marine-air" title="{%trans%}visit{%endtrans%} Marine Air" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/MarineAir.png")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		<div class="table-cell w20">
			<a href="https://www.facebook.com/Flli-Stamegna-srl-359383297601993/" title="{%trans%}visit{%endtrans%} Flli Stamegna" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/Stamegna.png")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		<div class="table-cell w20">
			<a href="http://es.calpeda.com/" title="{%trans%}visit{%endtrans%} Calpeda" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/Calpeda.jpg")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		<div class="table-cell w20">
			<a href="http://www.vitrifrigo.com/ww/en/" title="{%trans%}visit{%endtrans%} Vitrifrigo" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/VF.jpg")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		<div class="table-cell w20">
			<a href="https://slce-watermakers.com/desalinator/aqua-base-es/" title="{%trans%}visit{%endtrans%} Aqua Base" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/logo-aqua-base.png")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
	</div>
	<div class="table-row">
		<div class="table-cell w20">
			<a href="https://www.max-power.com/" title="{%trans%}visit{%endtrans%} MAXPower" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/MAXPower.png")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		<div class="table-cell w20">
			<a href="http://www.quicknauticalequipment.com/?lng=en" title="{%trans%}visit{%endtrans%} Quick Nautical Equipment" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/logo_QUICK.png")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		<div class="table-cell w20">
			<a href="https://www.victronenergy.com.es/" title="{%trans%}visit{%endtrans%} Victron Energy" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/VictronEnergy.jpg")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		<div class="table-cell w20">
			<a href="http://www.veco.net/index.php/en/products/climma-marine-air-conditioning" title="{%trans%}visit{%endtrans%} Climma" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/Climma.jpg")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		<div class="table-cell w20">
			<a href="https://www.dometic.com/es-es/es/rebranded/condaria" title="{%trans%}visit{%endtrans%} Condaria" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/logo_CONDARIA.png")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
	</div>
	<div class="table-row">
		<div class="table-cell w20">
			<a href="https://www.tecnicomar.it/" title="{%trans%}visit{%endtrans%} Tecnicomar" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/Tecnicomar.jpg")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		<div class="table-cell w20">
			<a href="https://slce-watermakers.com/" title="{%trans%}visit{%endtrans%} SLCE" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/SLCE.jpeg")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		<div class="table-cell w20">
			<a href="https://www.u-line.com/?___store=default" title="{%trans%}visit{%endtrans%} U-Line" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/u-line.png")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		<div class="table-cell w20">
			<a href="https://www.thetfordmarine.com/" title="{%trans%}visit{%endtrans%} Tecma" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/logo_TECMA.png")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
		<div class="table-cell w20">
			<a href="http://www.searecovery.com/" title="{%trans%}visit{%endtrans%} Sea Recovery" rel="nofollow" target="_blank">
				<img src="{{ asset("bundles/diplonauticlanding/images/SeaRecovery.jpg")}}" alt="{%trans%}marks{%endtrans%}">
			</a>
		</div>
	</div>
</div>
		