<div class="table" style="width: 80%; margin: 0 auto;">
	<div class="table-row">
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/Frigoboat.jpg")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/logo_CRUISAIR.png")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/logo_DOMETIC_Negre.png")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/logo_IDROMAR.png")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/logo_NORTHERN.png")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
	</div>
	<div class="table-row">
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/logo_PAGURO.png")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/Frigomar.jpg")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/logo_TECMA.png")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/logo_WAECO.png")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/Wesmar.png")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		
	</div>
	<div class="table-row">
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/MarineAir.png")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/Stamegna.png")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/Calpeda.jpg")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/VF.jpg")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/logo-aqua-base.png")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
	</div>
	<div class="table-row">
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/MAXPower.png")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/logo_QUICK.png")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/VictronEnergy.jpg")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/Climma.jpg")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/logo_CONDARIA.png")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
	</div>
	<div class="table-row">
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/Tecnicomar.jpg")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/SLCE.jpeg")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/u-line.png")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		<div class="table-cell w20">
			<img style="width: 80%" src="{{ asset("bundles/diplonauticlanding/images/HP.jpg")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
		<div class="table-cell w20">
			<img src="{{ asset("bundles/diplonauticlanding/images/SeaRecovery.jpg")}}" alt="{%trans%}marks{%endtrans%}">
		</div>
	</div>
</div>
		