{%trans_default_domain "general"%}
{% extends 'DiplonauticLandingBundle::layout.html.twig' %}
{% block meta_title %}{%trans%}header.oportunities{%endtrans%} - Diplonautic{% endblock %}
{% block title %}{%trans%}header.oportunities{%endtrans%} - Diplonautic{% endblock %}
{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}
    <div class="main">
        
        <section>
            <div class="container-fluid">
                <div class="row">
                    {% if opportunities == null %}
                    <div class="col-xs-10 col-xs-offset-1 col-sm-11 col-sm-offset-0 main-description">    
                        <div class="row">
                            <div class="col-sm-10">
                                <h1 class="h3"><b>{%trans%}header.oportunities{%endtrans%}</b></h1>
                                <div class="divisory hidden-xs"><div class="sub-div1"></div><div class="sub-div2"></div></div>
                                <p class="col-sm-6 pad-left">{%trans%}op.intro{%endtrans%}<a href="mailto:ps@diplonautic.com">ps@diplonautic.com</a></p>
                                <p class="col-sm-5 pad-left"><b>{%trans%}op.alternative{%endtrans%}</b></p>
                            </div>
                        </div>  
                    </div>
                    {% else %} 
                    <div class="col-xs-10 col-xs-offset-1 col-sm-11 col-sm-offset-0 main-opportunities">
                        <div id="owl-demo" class="owl-carousel owl-theme clearfix">
                            <div class="item op-intro">
                                <h1 class="h3"><b>{%trans%}header.oportunities{%endtrans%}</b></h1>
                                <p>{%trans%}op.intro{%endtrans%}<a href="mailto:ps@diplonautic.com">ps@diplonautic.com</a></p>
                            </div>
                            
                            {% set counter = 0 %}
                            {% for object in opportunities %}
                                <div class="item cap-bot">
                                    <img alt="Diplonautic" src="{{asset('/uploads/images/opportunities/'~object.img)}}">
                                    <div class="caption simple-caption">
                                        <div class="text-carousel">
                                            <h3 class="pull-left caption-title">{{object.title}}</h3>
                                            <div class="pull-right caption-price">{{object.price}}</div>
                                        </div>

                                        <p style="display:inline-block">
                                            {{object.description}}
                                        </p>

                                    </div>
                                </div>
                            {% set counter = counter + 1 %}
                            {%endfor%}
                        </div>
                    </div>
                    {% endif %}  
                    
                   
                    <div class="col-sm-1 languages hidden-xs">
                        <div id="cat">
                            <a href="{{path("diplonautic_landing_homepage", { "_locale" : "ca" })}}" {% if app.request.locale == 'ca'%}class="active"{% endif %} title="{%trans%}languages.cat{%endtrans%}">
                                CAT
                            </a>
                        </div>
                        <div id="en">
                            <a href="{{path("diplonautic_landing_homepage", { "_locale" : "en" })}}" {% if app.request.locale == 'en'%}class="active"{% endif %} title="{%trans%}languages.en{%endtrans%}">
                                EN
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
