{%trans_default_domain "general"%}
{% extends 'DiplonauticLandingBundle::layout.html.twig' %}
{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}
    <div class="main">
        
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-11 col-sm-offset-0 main-opportunities">
                      <div id="owl-demo" class="owl-carousel owl-theme">

                            <div class="item cap-bot">
                            <img alt="Diplonautic" src="{{ asset("bundles/diplonauticlanding/images/Timon.png") }}"></div>
                            <div class="item cap-bot">
                                <img alt="Diplonautic" src="{{ asset("bundles/diplonauticlanding/images/cyrano.jpg") }}">
                                <div class="caption simple-caption">
                                    <h3>Barco</h3>
                                    <div>
                                        Mira, un texto real descriptivo
                                    </div>
                                    <span>Preu</span>
                                </div>
                            </div>
                            <div class="item"><img alt="Diplonautic" src="{{ asset("bundles/diplonauticlanding/images/AquaBase.jpg") }}"></div>
                            <div class="item"><img alt="Diplonautic" src="{{ asset("bundles/diplonauticlanding/images/cyrano.jpg") }}"></div>
                            <div class="item"><img alt="Diplonautic" src="{{ asset("bundles/diplonauticlanding/images/cyrano.jpg") }}"></div>
                            <div class="item"><img alt="Diplonautic" src="{{ asset("bundles/diplonauticlanding/images/cyrano.jpg") }}"></div>
                            <div class="item"><img alt="Diplonautic" src="{{ asset("bundles/diplonauticlanding/images/cyrano.jpg") }}"></div>
                            <div class="item"><h1>8</h1><img alt="Diplonautic" src="{{ asset("bundles/diplonauticlanding/images/cyrano.jpg") }}"></div>
                            <div class="item"><h1>9</h1></div>
                            <div class="item"><h1>10</h1></div>
                            <div class="item"><h1>11</h1></div>
                            <div class="item"><h1>12</h1></div>

                          </div>
                       
                    </div>
                   
                    <div class="col-sm-1 languages hidden-xs">
                        <div id="cat">
                            <a href="{{path("diplonautic_landing_homepage", { "_locale" : "ca" })}}" {% if app.request.locale == 'ca'%}class="active"{% endif %}>
                                CAT
                            </a>
                        </div>
                        <div id="en">
                            <a href="{{path("diplonautic_landing_homepage", { "_locale" : "en" })}}" {% if app.request.locale == 'en'%}class="active"{% endif %}>
                                EN
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
