{%trans_default_domain 'general'%}
{% extends 'DiplonauticLandingBundle::layout.html.twig' %}
{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}
    <div class="main">
        
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-11 main-description pictos text-center">
                        <div class="row">
                            <div class="col-sm-2">
                                <a href="{{path("diplonautic_landing_air_conditioner")}}">
                                    <img src="{{ asset("bundles/diplonauticlanding/images/Picto2.png")}}" alt="">
                                    <h4>{%trans%}products.ac.title{%endtrans%}</h4>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a href="{{path("diplonautic_landing_refrigeration_systems")}}">
                                    <img src="{{ asset("bundles/diplonauticlanding/images/Picto1.png")}}" alt="">
                                    <h4>{%trans%}products.rs.title{%endtrans%}</h4>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a href="{{path("diplonautic_landing_generators")}}">
                                    <img src="{{ asset("bundles/diplonauticlanding/images/Picto4.png")}}" alt="">
                                    <h4>{%trans%}products.gen.title{%endtrans%}</h4>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a href="{{path("diplonautic_landing_water_treatment")}}">
                                    <img src="{{ asset("bundles/diplonauticlanding/images/Picto4.png")}}" alt="">
                                    <h4>{%trans%}products.wt.title{%endtrans%}</h4>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a href="{{path("diplonautic_landing_electric_systems")}}">
                                    <img src="{{ asset("bundles/diplonauticlanding/images/Picto5.png")}}" alt="">
                                    <h4>{%trans%}products.es.title{%endtrans%}</h4>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a href="{{path("diplonautic_landing_maneuvering_propeller")}}">
                                    <img src="{{ asset("bundles/diplonauticlanding/images/Picto6.png")}}" alt="">
                                    <h4>{%trans%}products.ms.title{%endtrans%}</h4>
                                </a>
                            </div>
                        </div>
                        <div class="divisory"><div class="sub-div1"></div><div class="sub-div2"></div></div>        
                        <div class="row">        
                            <div class="col-sm-2">
                                <p>{%trans%}products.ac.paragraph{%endtrans%}</p>
                            </div>
                            <div class="col-sm-2">
                                <p>{%trans%}products.rs.paragraph{%endtrans%}</p>
                            </div>
                            <div class="col-sm-2">
                                <p>{%trans%}products.gen.paragraph{%endtrans%}</p>
                            </div>
                            <div class="col-sm-2">
                                <p>{%trans%}products.wt.paragraph{%endtrans%}</p>
                            </div>
                            <div class="col-sm-2">
                                <p>{%trans%}products.es.paragraph{%endtrans%}</p>
                            </div>
                            <div class="col-sm-2">
                                <p>{%trans%}products.ms.paragraph{%endtrans%}</p>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-sm-1 languages">
                        <div id="cat">
                            <a href="{{path("diplonautic_landing_homepage", { "_locale" : "ca" })}}">CAT</a>
                        </div>
                        
                        <div id="en">
                            <a href="{{path("diplonautic_landing_homepage", { "_locale" : "en" })}}">EN</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}