{% extends 'DiplonauticLandingBundle::layout.html.twig' %}
{%trans_default_domain 'general'%}
{% block meta_description %}{%trans%}meta.rs{%endtrans%}{% endblock %}
{% block meta_title %}{%trans%}tooltip.rs{%endtrans%} - Diplonautic{% endblock %}
{% block title %}{%trans%}tooltip.rs{%endtrans%} - Diplonautic{% endblock %}

{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}
    <div class="main">
        
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="main-index no-padding col-sm-11">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-0 col-md-8 main-description-product">
                            <div class="row">
                                <div class="col-sm-1">
                                    <img src="{{ asset("bundles/diplonauticlanding/images/Picto1.png")}}" alt="{%trans%}products.rs.title{%endtrans%} - Diplonautic">
                                </div>
                                <div class="col-sm-10 product-title">
                                    <h1 class="h4">{%trans%}products.rs.title{%endtrans%}</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 product-description">
                                    <p>{%trans%}refrigeration.intro{%endtrans%}
                                        <ul>
                                            <li>{%trans%}refrigeration.fridge{%endtrans%}</li>
                                            <li>{%trans%}refrigeration.furniture{%endtrans%}</li>
                                            <li>{%trans%}refrigeration.rooms{%endtrans%}</li>
                                            <li>{%trans%}refrigeration.systems{%endtrans%}</li>
                                        </ul>
                                    </p>
                                </div>
                                <div class="col-sm-5">
                                    <p>{%trans%}refrigeration.closing{%endtrans%}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-0 col-md-4 main-marks-products">
                            <div class="row">
                                <a href="http://www.veco.net" title="{%trans%}visit{%endtrans%} Frigobaoat" rel="nofollow">
                                    <img class="pull-left two" src="{{ asset("bundles/diplonauticlanding/images/Frigoboat.jpg") }}" alt="Frigoboat">
                                </a>
                                <a href="http://www.vitrifrigo.com/eng/index.html" title="{%trans%}visit{%endtrans%} Vitrifrigo" rel="nofollow">
                                    <img class="pull-left two" src="{{ asset("bundles/diplonauticlanding/images/VF.jpg") }}" alt="Vitrifrigo">
                                </a>
                                
                            </div>
                            <div class="row">
                                <a href="http://www.u-line.com/?___store=default" title="{%trans%}visit{%endtrans%} U-Line" rel="nofollow">
                                    <img class="pull-left three big-image" src="{{ asset("bundles/diplonauticlanding/images/U-line.jpg") }}" alt="U-Line">
                                </a>
                                <a href="http://www.frigomar.com/en/" title="{%trans%}visit{%endtrans%} Frigomar" rel="nofollow">
                                    <img class="pull-left two frigo" src="{{ asset("bundles/diplonauticlanding/images/Frigomar.gif") }}" alt="Frigomar">
                                </a>
                                
                                    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 languages hidden-xs">
                        <div id="cat">
                            <a href="{{path("diplonautic_landing_homepage", { "_locale" : "ca" })}}" {% if app.request.locale == 'ca'%}class="active"{% endif %} title="{%trans%}languages.cat{%endtrans%}">
                                CAT
                            </a>
                        </div>
                        <div id="en">
                            <a href="{{path("diplonautic_landing_homepage", { "_locale" : "en" })}}" {% if app.request.locale == 'en'%}class="active"{% endif %} title="{%trans%}languages.en{%endtrans%}">
                                EN
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
