{% extends 'DiplonauticLandingBundle::layout.html.twig' %}
{%trans_default_domain 'general'%}
{% block meta_description %}{%trans%}meta.rs{%endtrans%}{% endblock %}
{% block meta_title %}{%trans%}tooltip.rs{%endtrans%} - Diplonautic{% endblock %}
{% block title %}{%trans%}tooltip.rs{%endtrans%} - Diplonautic{% endblock %}
{% block meta %}
    <meta property="og:title" content="{%trans%}tooltip.rs{%endtrans%} - Diplonautic" />
    <meta property="og:url" content="http://www.diplonautic.com{{path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params'))}}" />
    <meta property="og:description" content="{%trans%}meta.rs{%endtrans%}" />
    <meta property="og:site_name" content="Diplonautic" />
{% endblock %}
{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}
    <div class="main">
        
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="main-index no-padding col-sm-11">
                        <div class="main-description-product">
                            <img src="{{ asset("bundles/diplonauticlanding/images/Picto1.png")}}" alt="{%trans%}products.rs.title{%endtrans%} - Diplonautic">
                            <div class="product-description">   
                                <h1 class="h4">{%trans%}products.rs.title{%endtrans%}</h1>
                                <div class="product-decription__text">
                                    <div>
                                        <p>{%trans%}refrigeration.intro{%endtrans%}</p>
                                        <ul>
                                            <li>{%trans%}refrigeration.fridge{%endtrans%}</li>
                                            <li>{%trans%}refrigeration.furniture{%endtrans%}</li>
                                            <li>{%trans%}refrigeration.rooms{%endtrans%}</li>
                                            <li>{%trans%}refrigeration.systems{%endtrans%}</li>
                                        </ul>
                                    </div>
                                    <div class="p-l-30">
                                        <p>{%trans%}refrigeration.closing{%endtrans%}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-marks-products">
                            <div class="marks__row two">
                                <div class="marks__item">
                                    <a href="http://www.veco.net" title="{%trans%}visit{%endtrans%} Frigobaoat" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/Frigoboat.jpg") }}" alt="Frigoboat">
                                    </a>
                                </div>
                                <div class="marks__item">
                                    <a href="http://www.frigomar.com/en/" title="{%trans%}visit{%endtrans%} Frigomar" rel="nofollow">
                                        <img  src="{{ asset("bundles/diplonauticlanding/images/Frigomar.gif") }}" alt="Frigomar">
                                    </a>
                                </div>
                            </div>
                            <div class="marks__row two">
                                <div class="marks__item">
                                    <a href="http://www.vitrifrigo.com/eng/index.html" title="{%trans%}visit{%endtrans%} Vitrifrigo" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/VF.jpg") }}" alt="Vitrifrigo">
                                    </a>
                                </div>
                                <div class="marks__item">
                                    <a href="http://www.u-line.com/?___store=default" title="{%trans%}visit{%endtrans%} U-Line" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/u-line.png") }}" alt="U-Line" style="width:75%">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include "DiplonauticLandingBundle:Default:language.html.twig" %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
