{% extends 'DiplonauticLandingBundle::layout.html.twig' %}
{%trans_default_domain 'general'%}
{% block meta_description %}{%trans%}meta.wt{%endtrans%}{% endblock %}
{% block meta_title %}{%trans%}tooltip.wt{%endtrans%} - Diplonautic{% endblock %}
{% block title %}{%trans%}tooltip.wt{%endtrans%} - Diplonautic{% endblock %}

{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}    
    <div class="main">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="main-index no-padding col-sm-11">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-0 col-md-8 main-description-product">
                            <div class="row">
                                <div class="col-sm-1">
                                    <img src="{{ asset("bundles/diplonauticlanding/images/Picto3.png")}}" alt="{%trans%}products.wt.title{%endtrans%} - Diplonautic">
                                </div>
                                <div class="col-sm-10 product-title">
                                    <h1 class="h4">{%trans%}products.wt.title{%endtrans%}</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 product-description">
                                    <p>{%trans%}water.intro{%endtrans%}
                                        <ul>
                                            <li>{%trans%}water.bombs{%endtrans%}</li>
                                            <li>{%trans%}water.fire{%endtrans%}</li>
                                            <li>{%trans%}water.heaters{%endtrans%}</li>
                                        </ul>
                                    </p>
                                </div>
                                <div class="col-sm-5">
                                    <p>{%trans%}water.closing{%endtrans%}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-0 col-md-4 main-marks-products">
                            <div class="row">
                                    <a href="http://es.calpeda.com/" title="{%trans%}visit{%endtrans%} Calpeda" rel="nofollow">
                                        <img class="pull-left three" src="{{ asset("bundles/diplonauticlanding/images/Calpeda.jpg") }}" alt="Calpeda">
                                    </a>
                                    <a href="http://www.tecnicomar.it/" title="{%trans%}visit{%endtrans%} Tecnicomar" rel="nofollow">
                                        <img class="pull-left three" src="{{ asset("bundles/diplonauticlanding/images/Tecnicomar.jpg") }}" alt="Tecnicomar">
                                    </a>
                                    
                                    <a href="http://www.aquabase.net/index_en.html" title="{%trans%}visit{%endtrans%} AquaBase" rel="nofollow">
                                        <img class="pull-left three" src="{{ asset("bundles/diplonauticlanding/images/logo-aqua-base.png") }}" alt="AquaBase">
                                    </a>
                            </div>
                            <div class="row">
                                    
                                    <a href="http://www.searecovery.com/" title="{%trans%}visit{%endtrans%} Sea Recovery" rel="nofollow">
                                        <img class="pull-left three" src="{{ asset("bundles/diplonauticlanding/images/SeaRecovery.jpg") }}" alt="Sea Recovery">
                                    </a>
                                    <a href="http://www.slce.net/index_gb.php" title="{%trans%}visit{%endtrans%} SLCE" rel="nofollow">
                                        <img class="pull-left three" src="{{ asset("bundles/diplonauticlanding/images/SLCE.jpeg") }}" alt="SLCE">
                                    </a>
                                    <a href="http://www.idromar.tv/" title="{%trans%}visit{%endtrans%} Idromar" rel="nofollow">
                                        <img class="pull-left three" src="{{ asset("bundles/diplonauticlanding/images/logo_IDROMAR.png") }}" alt="Idromar">
                                    </a>
                            </div>
                            <div class="row">
                                <a href="http://www.hemwater.com/" title="{%trans%}visit{%endtrans%} HEM'S" rel="nofollow">
                                        <img class="pull-left three hem" src="{{ asset("bundles/diplonauticlanding/images/HEM.gif") }}" alt="High Pressure Watermakers">
                                </a>
                                <a href="http://www.hpwatermaker.it/" title="{%trans%}visit{%endtrans%} High Pressure Watermakers" rel="nofollow">
                                    <img class="pull-left three" src="{{ asset("bundles/diplonauticlanding/images/HP.jpg") }}" alt="High Pressure Watermakers">
                                </a>
                            </div>
                        </div>
                    </div>
                    {% include "DiplonauticLandingBundle:Default:language.html.twig" %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
