{% extends 'DiplonauticLandingBundle::layout.html.twig' %}
{%trans_default_domain 'general'%}
{% block meta_description %}{%trans%}meta.wt{%endtrans%}{% endblock %}
{% block meta_title %}{%trans%}tooltip.wt{%endtrans%} - Diplonautic{% endblock %}
{% block title %}{%trans%}tooltip.wt{%endtrans%} - Diplonautic{% endblock %}
{% block meta %}
    <meta property="og:title" content="{%trans%}tooltip.wt{%endtrans%} - Diplonautic" />
    <meta property="og:url" content="http://www.diplonautic.com{{path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params'))}}" />
    <meta property="og:description" content="{%trans%}meta.wt{%endtrans%}" />
    <meta property="og:site_name" content="Diplonautic" />
{% endblock %}
{% block content %}
    {% include "DiplonauticLandingBundle:Default:header.html.twig" %}    
    <div class="main">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="main-index no-padding col-sm-11">
                        <div class="main-description-product">
                            <img src="{{ asset("bundles/diplonauticlanding/images/Picto3.png")}}" alt="{%trans%}products.wt.title{%endtrans%} - Diplonautic">
                            <div class="product-description">
                                <h1 class="h4">{%trans%}products.wt.title{%endtrans%}</h1>
                                <div class="product-decription__text">
                                    <div>
                                        <p>{%trans%}water.intro{%endtrans%}</p>
                                        <ul>
                                            <li>{%trans%}water.bombs{%endtrans%}</li>
                                            <li>{%trans%}water.fire{%endtrans%}</li>
                                            <li>{%trans%}water.heaters{%endtrans%}</li>
                                        </ul>
                                    </div>
                                    <div class="p-l-30">
                                        <p>{%trans%}water.closing{%endtrans%}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-marks-products">
                            <div class="marks__row three">
                                <div class="marks__item">
                                    <a href="http://es.calpeda.com/" title="{%trans%}visit{%endtrans%} Calpeda" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/Calpeda.jpg") }}" alt="Calpeda">
                                    </a>
                                </div>
                                <div class="marks__item">
                                    <a href="http://www.tecnicomar.it/" title="{%trans%}visit{%endtrans%} Tecnicomar" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/Tecnicomar.jpg") }}" alt="Tecnicomar">
                                    </a>
                                </div>
                                <div class="marks__item">    
                                    <a href="http://www.aquabase.net/index_en.html" title="{%trans%}visit{%endtrans%} AquaBase" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/logo-aqua-base.png") }}" alt="AquaBase">
                                    </a>
                                </div>
                            </div>
                            <div class="marks__row three">
                                <div class="marks__item">
                                    <a href="http://www.searecovery.com/" title="{%trans%}visit{%endtrans%} Sea Recovery" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/SeaRecovery.jpg") }}" alt="Sea Recovery">
                                    </a>
                                </div>
                                <div class="marks__item">
                                    <a href="http://www.slce.net/index_gb.php" title="{%trans%}visit{%endtrans%} SLCE" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/SLCE.jpeg") }}" alt="SLCE">
                                    </a>
                                </div>
                                <div class="marks__item">
                                    <a href="http://www.idromar.tv/" title="{%trans%}visit{%endtrans%} Idromar" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/logo_IDROMAR.png") }}" alt="Idromar">
                                    </a>
                                </div>
                            </div>
                            <div class="marks__row three">
                                <div class="marks__item">
                                    <a href="http://www.hemwater.com/" title="{%trans%}visit{%endtrans%} HEM'S" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/hem.png") }}" alt="High Pressure Watermakers">
                                    </a>
                                </div>
                                <div class="marks__item">
                                    <a href="http://www.hpwatermaker.it/" title="{%trans%}visit{%endtrans%} High Pressure Watermakers" rel="nofollow">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/HP.png") }}" alt="High Pressure Watermakers">
                                    </a>
                                </div>
                                <div class="marks__item">
                                    <a href="https://www.osmosea.it/?lang=en" title="{%trans%}visit{%endtrans%} Osmosea" rel="nofollow" target="_blank">
                                        <img src="{{ asset("bundles/diplonauticlanding/images/osmosea.png")}}" alt="{%trans%}marks{%endtrans%}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include "DiplonauticLandingBundle:Default:language.html.twig" %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
