<!doctype html>
<html class="no-js" lang="{{app.request.locale}}">
    <head>
	
        <meta charset="utf-8">

        <title>{% block title %}{% endblock %}</title>

        <meta name="title" content="{% block meta_title %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="keywords" content={% trans from "general" %}keywords{% endtrans %}>
        <meta property="og:image" content=""/>

        <meta property="og:type" content="website" />   
        <meta name="google-site-verification" content="24Wkck2GKKqhquMvlevFRNffdo7kQ772t7G5b80OFwM" />
        {% block meta %}{% endblock %}
        <meta property="fb:pages" content="492530934262845">
        {#<link href="https://plus.google.com/+LocallerPro" rel="publisher"/>#}
        <link rel="canonical" href="https://www.diplonautic.com/" />
        <link href="https://plus.google.com/+Diplonautic" rel="publisher">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('bundles/diplonauticlanding/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">


        <link rel="stylesheet" href="{{ asset('bundles/diplonauticlanding/css/main.css') }}" />
        {% endblock %}
        {#Favicons#}
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/diplonauticlanding/images/favicon/apple-icon-57x57.png')}}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/diplonauticlanding/images/favicon/apple-icon-60x60.png')}}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/diplonauticlanding/images/favicon/apple-icon-72x72.png')}}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/diplonauticlanding/images/favicon/apple-icon-76x76.png')}}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/diplonauticlanding/images/favicon/apple-icon-114x114.png')}}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/diplonauticlanding/images/favicon/apple-icon-120x120.png')}}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/diplonauticlanding/images/favicon/apple-icon-144x144.png')}}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/diplonauticlanding/images/favicon/apple-icon-152x152.png')}}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/diplonauticlanding/images/favicon/apple-icon-180x180.png')}}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('bundles/diplonauticlanding/images/favicon/android-icon-192x192.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/diplonauticlanding/images/favicon/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('bundles/diplonauticlanding/images/favicon/favicon-96x96.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/diplonauticlanding/images/favicon/favicon-16x16.png')}}">
        <link rel="manifest" href="{{ asset('bundles/diplonauticlanding/images/favicon/manifest.json')}}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('bundles/diplonauticlanding/images/favicon/ms-icon-144x144.png')}}">
        <meta name="theme-color" content="#ffffff">
        
        
        <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
        <script src="{{ asset("bundles/diplonauticlanding/js/jquery-1.11.3.min.js") }}"></script>
        <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
        <script src="{{ asset('bundles/diplonauticlanding/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/diplonauticlanding/js/owl.carousel.js') }}"></script>
        <script src="{{ asset('bundles/diplonauticlanding/js/jquery.fitImages.js') }}"></script>
        <script src="{{ asset("bundles/diplonauticlanding/js/main.min.js") }}"></script>
    {% block extra_head %}{% endblock %}
</head>
<body{% block body_attr %}{% endblock %}>
  
<!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="wrapper">
{% block content %}
{% endblock %}

{% block footer %}
    {% include "DiplonauticLandingBundle:Default:footer.html.twig" %}
{% endblock %}

</div>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@id": "https://www.diplonautic.com/#webpage",
            "@type": "WebPage",
            "url": "https://www.diplonautic.com/",
            "name": "Diplonautic"
        }
    </script>
    <script type="application/ld+json">
        {
          "@context" : "https://schema.org",
          "@type" : "ProfessionalService ",
          "name" : "Diplonautic",
          "url" : "https://www.diplonautic.com",
          "logo": "https://www.diplonautic.com/bundles/diplonauticlanding/images/logo.png",
          "sameAs" : [
            "https://www.facebook.com/Diplonautic-492530934262845/",
            "https://www.instagram.com/diplonautic/",
            "https://plus.google.com/112906420990458841140"
           ],
          "address" : "Avinguda de Manuel Fernández Márquez, 73, 08930 Barcelona",
          "telephone" : "690600449",
          "image" : "https://www.diplonautic.com/bundles/diplonauticlanding/images/Background-web.png"
        }
    </script>
</body>
</html>