<!doctype html>
<html class="no-js" lang="{{app.request.locale}}">
    <head>
	
        <meta charset="utf-8">

        <title>{% block title %}{% endblock %}</title>

        <meta name="title" content="{% block meta_title %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="keywords" content="{%trans%}keywords{%endtrans%}">
        <meta property="og:image" content=""/>

        <meta http-equiv="Content-Language" content="{{app.request.locale}}"/>
        <meta property="og:type" content="website" />   
        <meta name="Robots" content="all"/>

        <meta property="fb:admins" content="" />


       
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ asset('bundles/diplonauticlanding/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/diplonauticlanding/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/diplonauticlanding/css/owl.carousel.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/diplonauticlanding/css/owl.theme.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/diplonauticlanding/css/owl.transitions.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/diplonauticlanding/css/main.css') }}" />
        
        {#Favicons#}
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/diplonauticlanding/images/favicon/apple-icon-57x57.png')}}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/diplonauticlanding/images/favicon/apple-icon-60x60.png')}}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/diplonauticlanding/images/favicon/apple-icon-72x72.png')}}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/diplonauticlanding/images/favicon/apple-icon-76x76.png')}}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/diplonauticlanding/images/favicon/apple-icon-114x114.png')}}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/diplonauticlanding/images/favicon/apple-icon-120x120.png')}}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/diplonauticlanding/images/favicon/apple-icon-144x144.png')}}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/diplonauticlanding/images/favicon/apple-icon-152x152.png')}}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/diplonauticlanding/images/favicon/apple-icon-180x180.png')}}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('bundles/diplonauticlanding/images/favicon/android-icon-192x192.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/diplonauticlanding/images/favicon/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('bundles/diplonauticlanding/images/favicon/favicon-96x96.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/diplonauticlanding/images/favicon/favicon-16x16.png')}}">
        <link rel="manifest" href="{{ asset('bundles/diplonauticlanding/images/favicon/manifest.json')}}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('bundles/diplonauticlanding/images/favicon/ms-icon-144x144.png')}}">
        <meta name="theme-color" content="#ffffff">
        
        
        <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
        <script src="{{ asset("bundles/diplonauticlanding/js/jquery-1.11.3.min.js") }}"></script>
        <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
        <script src="{{ asset('bundles/diplonauticlanding/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/diplonauticlanding/js/owl.carousel.js') }}"></script>
        <script src="{{ asset('bundles/diplonauticlanding/js/jquery.fitImages.js') }}"></script>
        <script src="{{ asset("bundles/diplonauticlanding/js/main.js") }}"></script>
        
    {% block extra_head %}{% endblock %}
</head>
<body{% block body_attr %}{% endblock %}>
  
<!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="wrapper">
{% block content %}
{% endblock %}

{% block footer %}
    {% include "DiplonauticLandingBundle:Default:footer.html.twig" %}
{% endblock %}

</div>

</body>
</html>